@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #566448;
  --accent: #ba9bc4;
  --warm: #f9c5b1;
  --sage: #9dbea5;
  --text: #566448;
  --light: #faf6f3;

  font-family: 'Lora', serif;
  font-weight: 300;
  color: var(--text);
  background: var(--light);
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
}
